.icon {
  display: inline-block;
}

.wrapper {

}
.header {
  background: #fff;
  @include breakpoint(sm-down) {
   position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99998;
  }
  &__top {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    padding: 20px 0;
    @include breakpoint(sm-down) {
      height: 100px;
      padding: 15px 0;
    }
    h1,.h1 {
      top: -7px;
      position: relative;
      margin: 0 auto;
      width: 165px;
      height: 144px;
      text-indent: -9000px;
      overflow: hidden;
      @include breakpoint(sm-down) {
        width: 83px;
        height: 72px;
      }
      a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-decoration: none;
        background: url("../img/logo.png") no-repeat;
        @include breakpoint(sm-down) {
          background-size: 83px 72px;
        }
      }
    }
  }
  &__col-1 {
    flex-basis: 33.3%;
    @include breakpoint(sm-down) {
      display: none;
    }
  }
  &__col-2 {
    flex-basis: 33.3%;
    @include breakpoint(sm-down) {
      flex-basis: 100%;
      order: 0;
    }
  }
  &__col-3 {
    flex-basis: 33.3%;
    text-align: right;
    @include breakpoint(sm-down) {
      display: none;
    }
  }
  &__bottom {
    border-top: 1px solid #e1e1e1;
  }
}
.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
}
.socila {
  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px 0 0;
    &:last-child {
      padding-right: 0;
    }
    @include breakpoint(sm-down) {
     padding-right: 12px;
    }
    a {
      color: #898989;
      font-size: 22px;
    }
  }
}
.lang {
  display: inline-block;
  @include breakpoint(sm-down) {
    display: block;
    margin: 10px 0;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    &:first-child {
      padding: 0 13px 0 0;
      &:after {
        content: '/';
        position: absolute;
        right: 2px;
        top: 0;
        color: #666;
      }
    }
    a {
      color: #666;
      font-weight: bold;
      &:hover {
        color: #ed1c24;
      }
    }
    &.activ {
      a {
        color: #ed1c24;
        text-decoration: underline;
      }
    }
  }
}

.settings {
  margin: 0 0 0 39px;
  display: inline-block;
  border-bottom: 1px dashed #666;
  @include breakpoint(sm-down) {
    margin-left: 18px;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    &:first-child {
      padding: 0 13px 0 0;
      &:after {
        content: '/';
        position: absolute;
        right: 2px;
        top: 0;
        color: #666;
      }
    }
    a {
      color: #666;
      font-weight: 300;
      &:hover {
        color: #ed1c24;
        text-decoration: none;
      }
    }
  }
}

.nav {
  flex-basis: 100%;
}
.navList {
  @include breakpoint(sm-down) {
    display: none;
  }
  display: flex;
  justify-content: space-between;
  li {
    a {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      padding: 20px 0;
      &:hover {
        color: #00ad4e;
        text-decoration: none;
      }
    }
  }
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.024);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.button {
  display: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 1em;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.7em;
  @include breakpoint(sm-down) {
    display: block;
  }
}
.slidebar {
  padding: 46px 0 0 0;
  background: hsla(0, 100%, 0%,0.8);
  z-index: 99999;
  a {
    display: block;
    padding: 16px;
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}

.cloze-slidebar {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 26px;


}

.main {
  @include breakpoint(sm-down) {
    padding-top: 101px;
  }
}

.mainSlider {
  &__item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 45px 0;
    min-height: 594px;
    display: flex;
    justify-content: center;
    @include breakpoint(sm-down) {
      min-height: 394px;
    }
  }
  &__item--1 {
    background-image: url("../img/001.jpg");
  }
  &__item--2 {
    background-image: url("../img/002.jpg");
  }
  &__item--3 {
    background-image: url("../img/003.jpg");
  }
  &__container {
    flex-basis: 1190px;
    padding: 0 10px;
    margin-top: 128px;
    @include breakpoint(sm-down) {
      margin-top: 0;
    }
  }
  &__text {
    max-width: 425px;
    p {
      color: #fff;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 48px 0;
      line-height: 1.3;
    }
  }
  &__btn {
    font-size: 18px;
    text-transform: none;
    min-width: 222px;
  }
  .owl-carousel {

    .owl-dots {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 45px;
      height: 8px;
      @include breakpoint(sm-down) {
        bottom: 25px;
      }
      div {
        margin: 0 6px;
        display: inline-block;
        vertical-align: top;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #fff;
        &.active {
          background: #00ad4e;
        }
      }
    }

  }
}

.inner {
  background: url("../img/inner-bg.png") center top no-repeat;
  min-height: 563px;
}

.products {
  padding: 94px 0 56px 0;
  @include breakpoint(sm-down) {
    padding: 40px 0;
  }
  .container {
    flex-direction: column;
  }
}
.title {
  &__head {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    text-transform: uppercase;
    padding: 0 19px 0 0;
    @include breakpoint(sm-down) {
      display: block;
      margin-bottom: 15px;
    }
  }
  &__btn {
    min-width: 223px;
  }
}

.productsSlider {
  padding: 62px 0 0 0;
  @include breakpoint(sm-down) {
    padding-top: 40px;
  }
  &__item {
    a {
      text-decoration: none;
    }
    figure {
      overflow: hidden;
      img {
        transition: all 0.5s ease;
      }
      &:hover {
        img {
          transform: scale(1.5);
        }
      }
    }
    h3 {
      padding: 4px 0 0 0;
      font-size: 16px;
    }
  }
}

.owl-carousel--arrowsRT {
  .owl-nav {
    position: absolute;
    right: 0;
    top: -95px;
    @include breakpoint(sm-down) {
      top: -30px;
    }
    div {
      top: 0;
      text-indent: -9000px;
      width: 13px;
      height: 18px;
      position: absolute;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  div.owl-prev {
    right: 34px;
    background: url("../img/left-arrow.png") no-repeat;
  }
  div.owl-next {
    right: 0;
    background: url("../img/right-arrow.png") no-repeat;
  }
}

.recipes {
  background: #f5f5f5;
  padding: 106px 0 97px 0;
  @include breakpoint(sm-down) {
    padding: 40px 0;
  }
  .container {
    flex-direction: column;
  }
}

.recipesSlider {
  padding: 62px 0 0 0;
  &__item {
    h3 {
      font-size: 27px;
      margin: 0;
      padding: 28px 0 13px 0;
      a {
        color: #333;
        text-decoration: none;
        &:hover {
          color: #00ad4e;
        }
      }
    }
    p {
      margin: 0;
      line-height: 1.5;
    }
  }
}

.dish {
  position: relative;
  img {
    width: 100%;
  }
  &__item {
    text-decoration: none;
  }
}
.dishList {
  width: 120px;
  background: hsla(0, 100%, 0%,0.75);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 0;
  @include breakpoint(sm-down) {
    padding: 0;
  }
  li {
    color: #fff;
    text-align: center;
    padding: 5px 0;
    @include breakpoint(sm-down) {
      padding: 0;
    }
    span {
      padding: 2px 13px 0 13px;
      font-size: 12px;
      display: block;
    }
  }
}

.news {
  padding: 83px 0 32px 0;
  @include breakpoint(sm-down) {
    padding: 40px 0 15px 0;
  }
  .container {
    flex-direction: column;
  }
}
.newsList {
  padding: 61px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include breakpoint(sm-down) {
    padding-top: 30px;
  }
  li {
    margin: 0 0 45px 0;
    flex-basis: 30.77%;
    @include breakpoint(sm-down) {
      flex-basis: 100%;
    }
    figure {
      img {
        width: 100%;
      }
    }
  }
  &__date {
    padding: 15px 0 0 0;
    color: #a1a1a1;
    font-size: 12px;
    font-weight: bold;
    i {
      position: relative;
      top: 3px;
      margin-right: 1px;
    }
  }
  h3 {
    margin: 16px 0 0 0;
  }
  p {
    color: #666;
    margin: 12px 0 17px 0;
    line-height: 1.5;
  }
  &__link {
    font-weight: bold;
    text-decoration: underline;
    &:hover {
      color: #00ad4e;
    }
  }
}

.footer {
  background: #f5f5f5 url("../img/footer-bg.png") center bottom no-repeat;
  min-height: 430px;
  padding: 57px 0 21px 0;
  h3 {
    margin: 0;
  }
  &__top {
    padding: 0 0 46px 0;
    .container {
      flex-wrap: wrap;
    }
  }
  &__bottom {
    border-top: 1px solid #e1e1e1;
    padding: 27px 0 0 0;
    .container {
      justify-content: space-between;
      flex-wrap: wrap;
      p {
        color: #666;
        font-size: 14px;
        margin: 0 0 10px 0;
        flex-basis: 50%;
        font-weight: 300;
        @include breakpoint(sm-down) {
          flex-basis: 100%;
        }
        a {
          color: #666;
          text-decoration: underline;
          &:hover {
            color: #ed1c24;
            text-decoration: none;
          }
        }
        &.design {
          text-align: right;
          @include breakpoint(sm-down) {
            text-align: left;
          }
        }
      }
    }
  }
  &__col {
    padding-bottom: 15px;
  }
  &__col-1 {
    flex-basis: 23.76%;
    @include breakpoint(sm-down) {
      flex-basis: 50%;
      order: 0;
    }
    @include breakpoint(xxs-down) {
      flex-basis: 40%;
    }
  }
  &__col-2 {
    flex-basis: 26.24%;
    @include breakpoint(sm-down) {
      flex-basis: 50%;
      order: 2;
    }
    @include breakpoint(xxs-down) {
      flex-basis: 100%;
    }
  }
  &__col-3 {
    flex-basis: 26.32%;
    @include breakpoint(sm-down) {
      flex-basis: 50%;
      order: 3;
    }
    @include breakpoint(xxs-down) {
      flex-basis: 100%;
    }
    .vcard {
      padding: 23px 10px 0 0;
      .organization-name {
        padding: 0 0 8px 0;
      }
      .street-address {
        padding: 8px 0 23px 0;
      }
      .tel {
        padding: 0 0 7px 0;
      }
      .email {
        color: #ed1c24;
        display: block;
        padding: 15px 0 0 0;
      }

    }
  }
  &__col-4 {
    flex-basis: 23.68%;
    @include breakpoint(sm-down) {
      flex-basis: 50%;
      order: 1;
    }
    @include breakpoint(xxs-down) {
      flex-basis: 60%;
    }
  }
  &__logo {
    width: 165px;
    height: 144px;
    text-decoration: none;
    background: url("../img/logo.png") no-repeat;
    text-indent: -9000px;
    overflow: hidden;
    display: block;
    @include breakpoint(sm-down) {
      width: 83px;
      height: 72px;
      background-size: 83px 72px;
    }
  }
}

.footerList {
  padding: 19px 0 0 0;
  li {
    padding: 4px 0;
    a {

    }
  }
}

.footerActions {
  float: right;
  padding: 4px 0 0 0;
  @include breakpoint(sm-down) {
    float: none;
  }
  .socila {
    padding: 0 0 22px 0;
  }
}

a.subscription {
  background: #00ad4e;
  width: 192px;
  color: #fff;
  position: fixed;
  z-index: 99997;
  right: 0;
  top: 30%;
  transform: rotate(-90deg);
  transform-origin: right bottom 0;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 22px 0 14px 0;
  display: block;
  text-decoration: none;
  @include breakpoint(sm-down) {
    display: none;
  }
  &:hover {
    background: #0b7a3d;

  }
  i {
    transform: rotate(90deg);
    margin: 0 0 0 14px;
  }
}

.pageBanner {
  height: 172px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &--news {
    background-image: url("../img/pageBanner--news-bg.jpg");
  }
  &--brand {
    background-image: url("../img/pageBanner--brand-bg.jpg");
  }
  &--recipes {
    background-image: url("../img/pageBanner--recipes-bg.jpg");
  }
  &--contacts {
    background-image: url("../img/pageBanner--contacts-bg.jpg");
  }
  &--offices {
    background-image: url("../img/pageBanner--offices-bg.jpg");
  }
}

.breadcrumb {
  padding: 23px 0;
  li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 10px;
    &:before {
      content: '/';
      position: absolute;
      left: 1px;
      top: -1px;
      color: #111;
    }
    &:first-child {
      padding-left: 0;
      &:before {
        display: none;
      }
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.page {
  .container {
    flex-direction: column;
  }
  h1 {
    text-align: center;
    margin: 0;
  }
}
.newsPage {
  padding: 32px 0 89px 0;
  .newsList {
    li {
      margin-bottom: 60px;
    }
  }
}
.pageNavi {
  display: flex;
  justify-content: center;
  li {
    a {
      margin: 0 2px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      text-decoration: none;
      background: #f3f5f8;
      display: block;
      text-align: center;
      color: #b2b2b2;
      font-weight: bold;
      &:hover {
        color: #fff;
        background: #00ad4e;
      }
      i {
        position: relative;
        top: 2px;
        width: 10px;
        height: 16px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: left top;
      }
    }
    &.activ {
      a {
        color: #fff;
        background: #00ad4e;
      }
    }
  }
  &__prew {
    a {
      i {
        background-image: url("../img/pageNavi-left.png");
      }
      &:hover {
        i {
          background-image: url("../img/pageNavi-left-hover.png");
        }
      }
    }
  }
  &__next {
    a {
      i {
        background-image: url("../img/pageNavi-right.png");
      }
      &:hover {
        i {
          background-image: url("../img/pageNavi-right-hover.png");
        }
      }
    }
  }
}

.newsOnePage {
  padding: 32px 0 75px 0;
  h1 {
    @include breakpoint(sm-down) {
      font-size: 26px;
    }
  }
}

.publication {
  text-align: center;
  padding: 26px 0 0 0;
  color: #a1a1a1;
  font-size: 12px;
  font-weight: bold;
  i {
    position: relative;
    top: 3px;
    margin-right: 1px;
  }
}
.newsItem {
  padding: 52px 0 0 0;
  h2 {
    margin: 63px 0 0 0;
    padding: 0 0 17px 0;
    @include breakpoint(sm-down) {
      margin-top: 25px;
    }
  }
  p {
    color: #666;
    line-height: 1.5;
    padding: 0 0 15px 0;
  }
}
.navi {
  padding: 54px 0 0 0;
  display: flex;
  justify-content: center;
  @include breakpoint(sm-down) {
    padding-top: 10px;
  }
  li {
    padding: 0 15px;
    @include breakpoint(sm-down) {
      padding: 0 5px;
    }
    a {
      color: #00ad4e;
      font-size: 27px;
      @include breakpoint(sm-down) {
        font-size: 14px;
      }
      i {
        margin: 0 13px;
        @include breakpoint(sm-down) {
          display: none;
        }
      }
    }
  }
}

.brandPage {

}
.brandPagePreambule {
  display: flex;
  padding: 28px 0;
  &__pic {
    flex-basis: 405px;
    flex-grow: 0;
    @include breakpoint(sm-down) {
      display: none;
    }
  }
  &__text {
    padding: 50px 0 0 0;
    flex-basis: 405px;
    flex-grow: 1;
    @include breakpoint(sm-down) {
      padding-top: 0;
    }
    p {
      font-size: 16px;
      line-height: 1.6;
      padding: 7px 0;
    }
  }
}

.brandServices {
  background: url("../img/brandServices-bg.jpg") center center no-repeat;
  background-size: cover;
  height: 426px;
  padding: 30px 0;
  margin-bottom: 18px;
  @include breakpoint(sm-down) {
    height: auto;
  }
  color: #fff;
  .container {
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(lg-down) {
      justify-content: center;
    }
    p {
        text-align: center;
        flex-basis: 345px;
        font-size: 21px;
        padding: 0 10px;
    }
  }
}

.brandPagePostambule  {
  padding: 27px 0 44px 0;
  p {
    font-size: 16px;
    line-height: 1.6;
    padding: 7px 0;
  }
}
.brandPageSlider {
  padding: 11px 0 0 0;
  h2 {
    margin: 0 0 29px 0;
  }
  .owl-carousel--arrowsRT {
    .owl-nav {
      top: -51px;
    }
  }
}

.recipesPage {
  padding: 0 0 89px 0;
  @include breakpoint(sm-down) {
    padding-bottom: 35px;
  }
}
.recipesList {
  padding: 61px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include breakpoint(sm-down) {
    padding: 25px 0;
  }
  &__item {
    flex-basis: 32.22%;
    margin: 0 0 41px 0;
    @include breakpoint(md-down) {
      flex-basis: 48%;
    }
    @include breakpoint(xs-down) {
      flex-basis: 100%;
    }
  }
}
.dishBox {
  &__body {
    position: relative;
    figure {
      img {
        width: 100%;
      }
    }
  }
  &__list {
    width: 100%;
    min-height: 60px;
    background: hsla(0, 100%, 0%,0.75);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 15px 5px;
    li {
      color: #fff;
      position: relative;
      i {
        position: absolute;
        left: 0;
        top: 0;
      }
      span {
        padding: 0 0 0 27px;
        font-size: 12px;
        display: block;
        b {
          font-weight: normal;
          display: block;
          @include breakpoint(lg-down) {
            display: none;
          }
        }
      }
    }
    li:nth-child(1) {
      flex-basis: 80px;
      @include breakpoint(lg-down) {
        flex-basis: auto;
      }
    }
    li:nth-child(2) {
      flex-basis: 122px;
      span {
        padding-left: 33px;
      }
      @include breakpoint(lg-down) {
        flex-basis: auto;
      }
    }
    li:nth-child(3) {
      flex-basis: 120px;
      @include breakpoint(lg-down) {
        flex-basis: auto;
      }
    }
  }
  &__title {
    font-size: 21px;
    color: #333;
    margin: 6px 0 0 0;
    a {
      color: #333;
      &:hover {
        text-decoration: none;
        color: #00ad4e;
      }
    }
  }
}

.contactsList {
  padding: 77px 0 0 0;
  @include breakpoint(xs-down) {
    padding-top: 25px;
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 69px 0;
    @include breakpoint(xs-down) {
      padding-bottom: 25px;
    }
  }
  &__pic {
    flex-basis: 113px;
    flex-grow: 0;
    @include breakpoint(xs-down) {
      flex-basis: 100%;
      text-align: center;
    }
  }
  &__text {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 20px 0 0 17px;
    @include breakpoint(xs-down) {
      flex-basis: 100%;
      padding: 25px 0 0 0;
    }
    h2 {
      margin: 0;
      font-size: 24px;
      padding: 0 0 16px 0;
    }
    p {
      font-size: 16px;
      color: #666;
      margin: 0;
      line-height: 1.7;
    }
    address {
      font-style: normal;
      padding: 27px 0 0 0;
      a {
        color: #666;
      }
    }
  }

}

.contactMap {
  margin: 19px 0 123px 0;
  @include breakpoint(xs-down) {
    margin: 0 0 25px 0;
  }
  iframe {
    width: 100%;
  }
}

.officesPlaces {
  padding: 107px 0 0 0;
  &__map {
    iframe {
      width: 100%;
    }
  }
  &__city {
    position: relative;
    display: inline-block;
  }
  &__region {
    font-size: 24px;
    font-weight: bold;
  }
  &__select {
    margin: 0 0 63px 0;
    i {
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      color: #333;
      text-decoration: underline;
      cursor: pointer;
      margin: 0 0 0 6px;
    }
  }
}
.tabs {}
.tab {
  display: none;
}
.tab.activ {
  display: block;
}

.officesPlacesListWrap {
  position: absolute;
  left: 0;
  top: 33px;
  display: none;
}

.officesPlacesList {
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 28px 44px 28px 40px;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.1);
  width: 620px;
  margin: 8px 0 0 0;
  &__item {
    flex-basis: 146px;
    padding: 9px 0 10px 0;
    a {
      font-size: 16px;
      &:hover {
        color: #00ad4e;
        text-decoration: none;
      }
    }
    &--activ {
      a {
        color: #00ad4e;
      }
    }
  }
}

