::-webkit-input-placeholder {
  color: #8c8c8c; }

::-moz-placeholder {
  color: #8c8c8c; }

:-ms-input-placeholder {
  color: #8c8c8c; }

::-ms-input-placeholder {
  color: #8c8c8c; }

::placeholder {
  color: #8c8c8c; }

/* ---------------------
INPUT FIELDS
--------------------- */
.formGroup {
  margin-bottom: 32px; }

.formLabel {
  display: block;
  margin-bottom: 17px; }

.formInput,
textarea {
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  border: 1px solid #d1d1d0;
  padding: 5px 21px;
  color: #8c8c8c;
  width: 100%;
  height: 45px;
  line-height: 35px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  resize: vertical;
  height: auto; }

:focus {
  outline: 0; }

.btn {
  background: #00ad4e;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #fff;
  border: 0;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 49px;
  text-transform: uppercase;
  padding: 0 20px;
  text-align: center; }
  .btn:hover {
    background: #0b7a3d;
    text-decoration: none; }
  .btn.cancel {
    background: #898989; }

.select2-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle; }
  .select2-container .select2-selection--single {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      padding-left: 21px;
      padding-right: 35px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      white-space: nowrap; }
    .select2-container .select2-selection--single .select2-selection__clear {
      position: relative; }
  .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 21px;
    padding-left: 35px; }
  .select2-container .select2-selection--multiple {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--multiple .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      padding-left: 8px;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container .select2-search--inline {
    float: left; }
    .select2-container .select2-search--inline .select2-search__field {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: none;
      font-size: 100%;
      margin-top: 5px;
      padding: 0; }
      .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
        -webkit-appearance: none; }

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 5px 21px;
  line-height: 35px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none; }
  .select2-results__option[aria-selected] {
    cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0; }

.select2-search--dropdown {
  display: block;
  padding: 4px; }
  .select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  .select2-search--dropdown.select2-search--hide {
    display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #d1d1d0; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #8c8c8c;
    line-height: 35px; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 35px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #777 transparent transparent transparent;
      border-style: solid;
      border-width: 6px 5px 0 5px;
      height: 0;
      left: 50%;
      margin-left: -5px;
      margin-top: -3px;
      position: absolute;
      top: 50%;
      width: 0; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto; }

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: text; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
      list-style: none; }
  .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left; }
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #333; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0; }

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: textfield; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--default .select2-results__option[role=group] {
  padding: 0; }

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd; }

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em; }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
      margin-left: -2em;
      padding-left: 3em; }
      .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -3em;
        padding-left: 4em; }
        .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
          margin-left: -4em;
          padding-left: 5em; }
          .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
            margin-left: -5em;
            padding-left: 6em; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white; }

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

html, body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

table {
  border-collapse: collapse;
  width: 100%; }

input:focus {
  outline: none; }

img, table {
  border: none; }

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:hover, a:active, a:focus {
    text-decoration: underline;
    outline: 0; }

button {
  outline: none;
  cursor: pointer; }

svg:not(:root) {
  overflow: hidden; }

header, footer, article, section, hgroup, nav, menu, aside, figure, main, video, address, picture, figcaption {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: bold; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 27px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 12px; }

ul, ol {
  list-style: none; }

p {
  margin: 10px 0; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #333; }

.icon {
  display: inline-block; }

@media (max-width: 767px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; } }

.header__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  position: relative;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 170px;
  padding: 20px 0; }
  @media (max-width: 767px) {
    .header__top {
      min-height: 100px;
      padding: 15px 0; } }
  .header__top h1, .header__top .h1 {
    margin: 0;
    width: 165px;
    height: 144px;
    position: absolute;
    left: 50%;
    top: -4px;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    text-indent: -9000px;
    overflow: hidden; }
    @media (max-width: 767px) {
      .header__top h1, .header__top .h1 {
        left: 40px;
        top: 10px;
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0);
        width: 83px;
        height: 72px; } }
    .header__top h1 a, .header__top .h1 a {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-decoration: none;
      background: url("../img/logo.png") no-repeat; }
      @media (max-width: 767px) {
        .header__top h1 a, .header__top .h1 a {
          -webkit-background-size: 83px 72px;
                  background-size: 83px 72px; } }

@media (max-width: 767px) {
  .header__col-1 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    text-align: right; } }

@media (max-width: 767px) {
  .header__col-2 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    text-align: right; } }

.header__bottom {
  border-top: 1px solid #e1e1e1; }

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.socila li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px 0 0; }
  .socila li:last-child {
    padding-right: 0; }
  @media (max-width: 767px) {
    .socila li {
      padding-right: 12px; } }
  .socila li a {
    color: #898989;
    font-size: 22px; }

.lang {
  display: inline-block; }
  @media (max-width: 767px) {
    .lang {
      display: block;
      margin: 10px 0; } }
  .lang li {
    display: inline-block;
    vertical-align: middle;
    position: relative; }
    .lang li:first-child {
      padding: 0 13px 0 0; }
      .lang li:first-child:after {
        content: '/';
        position: absolute;
        right: 2px;
        top: 0;
        color: #666; }
    .lang li a {
      color: #666;
      font-weight: bold; }
      .lang li a:hover {
        color: #ed1c24; }
    .lang li.activ a {
      color: #ed1c24;
      text-decoration: underline; }

.settings {
  margin: 0 0 0 39px;
  display: inline-block;
  border-bottom: 1px dashed #666; }
  @media (max-width: 767px) {
    .settings {
      margin-left: 18px; } }
  .settings li {
    display: inline-block;
    vertical-align: middle;
    position: relative; }
    .settings li:first-child {
      padding: 0 13px 0 0; }
      .settings li:first-child:after {
        content: '/';
        position: absolute;
        right: 2px;
        top: 0;
        color: #666; }
    .settings li a {
      color: #666;
      font-weight: 300; }
      .settings li a:hover {
        color: #ed1c24;
        text-decoration: none; }

.nav {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }

.navList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 767px) {
    .navList {
      display: none; } }
  .navList li a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding: 20px 0; }
    .navList li a:hover {
      color: #00ad4e;
      text-decoration: none; }

.button:hover {
  background-color: rgba(0, 0, 0, 0.024);
  border: 1px solid rgba(0, 0, 0, 0.2); }

.button {
  display: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 10px;
  line-height: 1em;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.7em; }
  @media (max-width: 767px) {
    .button {
      display: block; } }

.slidebar {
  z-index: 99999; }
  .slidebar a {
    display: block;
    padding: 24px;
    color: #fff;
    border-bottom: 1px solid #fff; }
